.vs/
**/bin/
**/obj/
**/dist/
**/.vercel/
**/node_modules/
**/*.user
**/*.log
**/README.md
ArcusAdvocaciaEstrategica/ArcusAdvocaciaEstrategica/
ArcusAdvocaciaEstrategica/ArcusAdvocaciaEstrategica.sln
ArcusAdvocaciaEstrategica/.gitignore
