<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net10.0\publish\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>
